@import "../../bower_components/font-awesome/scss/font-awesome.scss";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #6C9F7F !important;
  border-color: #6C9F7F !important;
}

.input-busca-menu {
  margin-top: 4%;
}

.menu-top {
  background-color: #6C9F7F !important;
  border-bottom: 5px solid #6C9F7F !important;
}

.tela-cheia {
  padding-left: 0px;
  padding-right: 0px;
}