@import "../../bower_components/font-awesome/css/font-awesome.css";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  min-height: 200px;
}

.thumbnail img.pull-left {
  width: 50px;
}

.cards img.pull-left{
  width: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}

.input-busca-menu {
  margin-top: 2%;
}

.menu-top {
  background-color: #4CAF50 !important;
  border-bottom: 5px solid #4CAF50 !important;
}

.tela-cheia {
  padding-left: 0px;
  padding-right: 0px;
}

.profileImage-menu{
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.position-name-user {
  margin-top: 7px;
  float: left;
  margin-left: 10px;
}

.img-cards {
  margin-top: 5px;
  margin-left: 5px;
}