<div class="col-md-12">
    <div class="thumbnail">
        <div class="caption">
            <h4>Tópicos Favoritos <i class="fa fa-star-o" aria-hidden="true"></i></h4> 
            <div class="col-md-12" ng-repeat="favorite in vm.objeto">
                    <p class="bg-success">
                        <strong>{{ favorite.name }}</strong>
                        Comentarios: {{ favorite.quantity_comments }}
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </p>
            </div>
        </div>
    </div>
</div>